@font-face {
  font-family: 'hire';
  src:  url('fonts/hire.eot?m1kv74');
  src:  url('fonts/hire.eot?m1kv74#iefix') format('embedded-opentype'),
    url('fonts/hire.ttf?m1kv74') format('truetype'),
    url('fonts/hire.woff?m1kv74') format('woff'),
    url('fonts/hire.svg?m1kv74#hire') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hire' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checked-circle:before {
  content: "\e93a";
}
.icon-placeholder:before {
  content: "\e918";
}
.icon-printer:before {
  content: "\e938";
}
.icon-download:before {
  content: "\e939";
}
.icon-add-folder:before {
  content: "\e936";
}
.icon-delete:before {
  content: "\e937";
}
.icon-worker:before {
  content: "\e934";
}
.icon-strategy:before {
  content: "\e935";
}
.icon-add-users:before {
  content: "\e932";
}
.icon-add-user:before {
  content: "\e933";
}
.icon-skype-o:before {
  content: "\e900";
}
.icon-skype-1:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-phone-ringing:before {
  content: "\e903";
}
.icon-phone-ringing-o:before {
  content: "\e904";
}
.icon-trash:before {
  content: "\e905";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-envelope:before {
  content: "\e907";
}
.icon-paper-clip:before {
  content: "\e908";
}
.icon-edit:before {
  content: "\e909";
}
.icon-edit-bold:before {
  content: "\e90a";
}
.icon-facebook-o:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-plus-circle-o:before {
  content: "\e90e";
}
.icon-clock-o:before {
  content: "\e90f";
}
.icon-calendar:before {
  content: "\e910";
}
.icon-avatar:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e912";
}
.icon-grid:before {
  content: "\e913";
}
.icon-chevron-arrow-left:before {
  content: "\e914";
}
.icon-chevron-arrow-right:before {
  content: "\e915";
}
.icon-chevron-arrow-down:before {
  content: "\e916";
}
.icon-chevron-arrow-up:before {
  content: "\e917";
}
.icon-checked-circle-o:before {
  content: "\e919";
}
.icon-checked:before {
  content: "\e91a";
}
.icon-settings:before {
  content: "\e91b";
}
.icon-gear-o:before {
  content: "\e91c";
}
.icon-gear:before {
  content: "\e91d";
}
.icon-warning-circle:before {
  content: "\e91e";
}
.icon-warning-triangle:before {
  content: "\e91f";
}
.icon-warning-circle-o:before {
  content: "\e920";
}
.icon-warning-triangel-o:before {
  content: "\e921";
}
.icon-twitter-o:before {
  content: "\e922";
}
.icon-twitter:before {
  content: "\e923";
}
.icon-bookmark-o:before {
  content: "\e924";
}
.icon-bookmark:before {
  content: "\e925";
}
.icon-save:before {
  content: "\e926";
}
.icon-cross-circle:before {
  content: "\e927";
}
.icon-cross:before {
  content: "\e928";
}
.icon-cross-circle-o:before {
  content: "\e929";
}
.icon-graph-level:before {
  content: "\e92a";
}
.icon-puzzle:before {
  content: "\e92b";
}
.icon-group:before {
  content: "\e92c";
}
.icon-user-level:before {
  content: "\e92d";
}
.icon-bell:before {
  content: "\e92e";
}
.icon-bell-o:before {
  content: "\e92f";
}
.icon-phone-o:before {
  content: "\e930";
}
.icon-phone:before {
  content: "\e931";
}
