/* over-riding menu-right bar style when removing unwanted link node */
.menu-rightbar {
    min-width: 120px;
}

.n-branch{
	background: inherit !important;
}

.emp-pg{
	position: relative;
    min-height: 176px;
    background: #fff;
}

.emp-img {
    max-width: 176px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    bottom: 0;
    z-index: 100;
    cursor: pointer;
}

.emp-img > .img-fluid {
    max-width: 100%;
    height: 100%;
}

.department-after:after{
    display: none;
}

.visible-img #id_photo{
    display: block;
}

.modal-header .btn , .modal-body .btn-close{
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 100%;
    font-size: 1.5em;
    padding: .6rem;
    width: 30px;
    height: 30px;
}
.modal-header .btn span ,.modal-body .btn-close span{
    line-height: 1px;
    top: -7px;
    position: relative;
}
#overlay{
	position: absolute !important;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    height: 70px;
    bottom: 0;
	color: #fff;
	padding-top: 10px;
	display: none;
	border: none;
	width: 100%;
	cursor: pointer;
	margin-bottom: inherit;
	text-align: center;
}
#overlay i{
	font-size: 20px;
}
.emp-img:hover #overlay{
	display: block !important;
}
.id-pic {
    display: none;
}

.bookmark-cs input[type="radio"]:checked ~ .check-iconbx i:first-child,
.bookmark-cs input[type="radio"] ~ .check-iconbx i:last-child{
    display: inline-block;
}
.bookmark-cs input[type="radio"]:checked ~ .check-iconbx i:last-child,
.bookmark-cs input[type="radio"] ~ .check-iconbx i:first-child{
    display: none;
}

.bookmark-cs input[type="radio"]{
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
}
.bx-bg-col{
    background: #f2f2f2;
}
.pro-pic{
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
}
/*.pro-pic img{
    height: 100%;
}*/
.clnt-lst12{
    position: absolute;
    top: 0;
    left: 0;
}
.clnt-mr-lft{
    margin-left: 40px;
}
.clnt-mr-lft2{
    margin-left: 20px;
}
.ul-brd-btm{
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 15px;
}
.ul-brd-btm:last-child{
    border-bottom: inherit !important;
}
.dr-dp-dw{
    right: 0;
    left: inherit !important;
}
.tb-brd-tp td{
    border-top: inherit !important;
}

.bx-add {
    min-height: 320px;
}
.sgn-md-btn label{
    line-height: 2.5;
    color: #000;
    font-weight: 600;
    border-right: 1px solid #eeeeee;
    margin-bottom: inherit !important;
    display: inline-block;
    text-align: center;
}

.sgn-md-btn input[type="radio"]:hover + label{
	cursor: pointer;
}
.sgn-md-btn input[type="radio"]:checked + label{
	color: #fff;
    background-color: #007bff;
}


.sgn-md-btn input[type="radio"]{
	opacity: 0;
	width: 0;
	position: fixed;
}
@media only screen and (max-width: 1100px) and (min-width: 851px){
    .searchList-bx {
    width: 300px;
    background-color: #fff !important;
    font-size: 80%;
    color: #8c8c8c;
    position: absolute !important;
    left: 0;
    top: 0;
    bottom: 0;
    }
    .user-mg-grd{
        padding-left: 300px;
    }
}
.bx-cont2{
    background: #efefef !important;
}
.bx-btm{
    margin-bottom: 30px !important;
}
.twt-pad-lft{
    padding-left: 43px;
}
.dis-flx-non{
    display: block !important;
}
.soc-icon-lt2{
    position: absolute;
    top: 1px;
    left: 1px;
    height: 38px;
}
.alert-warning-green2{
    margin-top: inherit !important;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}
.pro-rnd{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.prof-img{
    max-width: inherit !important;
    width: 100%;
    height: 100%;
}
.pro-arw::after{
    margin-top: 15px !important;
}
.clt-rnd-cls{
    top: 0;
    left: 0;
}
.emp-img-inf{
    height: inherit !important;
}

#employee-dashboard .projt-list{
    min-height: 182px;
}

.prog-bar .progress.ideal,.time-period .ideal span {
    background: #9e9393 !important;
}

.side-notif{
    right: 0;
    left: inherit;
}
.wh-space{
    white-space: normal;
    -moz-white-space: normal;
    -webkit-white-space: normal;
}
.notif-bg{
    background:#edf2fa;

}
.tooltip{
    z-index: 1000;
}

.table-no-border tr th,.table-no-border tr td{
    border: inherit !important;
}

#image-update-form img{
    height: 176px;
}

#change-organization:hover .dropdown>.dropdown-menu {
  display: block;
}

#change-organization .dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

#change-organization .dropleft .dropdown-menu {
    margin-top: -22px;
    margin-right: 8.4rem;
}

.dropdown-item.li-icon{
    padding-left: 0.6rem;
}

@media only screen and (max-width: 345px){
    header .brand-img{
        max-width: 120px;
    }
}

.menu-group-item a{
    color: #747474;
}
.menu-group-item.active a{
    color: #fff;
}
.submenu.open .menu-group-item a{
    color: #fff;
}

.submenu .summenu-items > .menu-group-item.inner-menu:not(.active){
    background-color: initial !important;
    
}

.submenu .summenu-items > .menu-group-item.inner-menu.active{
    background-color: #1d1d1d !important;
}
.submenu .summenu-items > .menu-group-item.inner-menu.open{
    background-color: #1d1d1d !important;
}
.submenu .summenu-items > .menu-group-item:not(.active):hover{
    background-color: transparent !important;
}

.org-prof-img{
    background: #198ccb;
    width: 100%;
    height: 100%;
}
.er-fnt{
    font-size: 13px !important;
    font-weight: 500 !important;
}